
/* --------- Body --------- */
body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(29, 29, 29);
}

.container{
    max-width: 70%;
    border: solid blue;
}

/* --------- Sections --------- */
#home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/bg/home.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#about{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #191A1D;
    padding-bottom: 100px;
}

#portfolio{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #191A1D;
    padding-bottom: 100px;
}

#gallery{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #191A1D;
    padding-bottom: 100px;
}

#contact{
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/bg/contact.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}


/* --------- Navigation Bar --------- */
#navbar{
    z-index: 100;
    position: fixed;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}

#navbar a{
    color: #191A1D;
    padding: 0px 15px;
    font-size: 25px;
    font-family: "Ubuntu";
    font-weight: 500;
    transition: color .2s ease;
}

#navbar a:hover{
    color: rgb(128, 128, 128);
    text-decoration: none;
}

#sidebar{
    transform: translateY(-50%);
    top: 45%;
    z-index: 100;
    position: fixed;
    width: 150px;
    height: auto;
    text-align: left;
    padding: 0px 20px;
    display: none;
}

.nav{
    float: left;
    margin-top: 30px;
    width: auto;
    height: 50px;
}

.nav a{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 25px;
    transition: color .2s ease;
}

.text-white:hover{
    opacity: 0.7;
    text-decoration: none;
}

.text-white{
    color: white;
}

.text-black{
    color: #191A1D;
}

.closed{
    width: 0%;
}

.open{
    width: 100%;
}

.underline{
    border-radius: 5px;
    height: 4px;
    background: white;
    transition: width .3s ease;
}

/* --------- Header Style --------- */
.header-row{
   
}

.header-col h1{
    color: white;
    font-size: 40px;
    font-family: "Ubuntu";
    font-weight: 500;
}


/* --------- Home Section --------- */
#greeting{
    position: relative;
    transform: translateY(-50%);
    top: 45%;
}

#greeting h1{
    color: #191A1D;
    font-size: 70px;
    font-family: "Baloo 2", cursive;
    font-weight: 700;
}

#greeting p{
    color: #191A1D;
    font-size: 25px;
    font-family: "Ubuntu";
    font-weight: 500;
}

#blacklogo, #whitelogo{
    position: fixed;
    z-index: 100;
    left: 20px;
    top: 20px;
}

#blacklogo img, #whitelogo img{
    width: 50px;
}

#whitelogo{
    display: none;
}

#arrow{
    position: absolute;
    transform: translateX(-50%);
    left: 50.1%;
    bottom: 7%;
}

#arrow img{
    width: 50px;
    transition: transform .2s ease;
    cursor: pointer;
}

#arrow img:hover{
    transform: translateY(10px);
}


/* --------- About Section --------- */
.about-row{

}

.about-col{
    background-color: white;
    max-width: 40%;
    padding: 10px 40px;
    margin: auto;
    border-radius: 10px;
}

#leandro{
    position: absolute;
    transform: translateY(-50%);
    width: 140px;
    height: 170px;
    border-radius: 10px;
    left: 5%;
    top: 50%;
    background-image: url(../img/leandro.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-col p{
    position: relative;
    color: #191A1D;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-left: 25%;
    padding-top: 10px;
}

.tools-row{
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
}

.tools-col{
    margin: auto;
    border: solid white 2px;
    max-width: 350px;
    height: 520px;
    border-radius: 20px;
    background-image: url(../img/bg/toolbox.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.tools-col img{
    position: relative;
    width: 70px;
    top: 0%;
}

.tools-col h1{
    position: relative;
    color: white;
    font-size: 23px;
    font-family: "Ubuntu";
    font-weight: 400;
    top: 23%;
}

.tools-col p{
    position: relative;
    color: #191A1D;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    top: 26%;
}

.tools-col h2{
    position: relative;
    color: #191A1D;
    font-size: 19px;
    font-family: "Ubuntu";
    font-weight: 600;
    top: 26%;
}

.tools-col li{
    position: relative;
    color: #191A1D;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    top: 27%;
    list-style-type: none;
}


/* --------- Portfolio Section --------- */
.project-row{
    max-width: 70%;
    margin: auto;
    margin-top: 100px;
}

.project-col{
}

.timeline{
    position: absolute;
    top: 200px;
    left: 28%;
    width: 2px;
    height: 2250px;
    background-color: rgb(78, 78, 78);
}

.timeline h1{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 30px;
    color: white;
    float:left;
}

.timeline img{
    transform: translateY(20%);
    float:right;
}

.date{
    position: absolute;
    width: 150px;
    right: -12px;
}

.d1{
    top: 125px;
}

.d2{
    top: 470px;
}

.d3{
    top: 820px;
}

.d4{
    top: 1180px;
}

.d5{
    top: 1530px;
}

.d6{
    top: 1880px;
}

.d7{
    top: 2230px;
}

.project-col img{
    float: right;
    width: 450px;
    object-fit: cover;
    border: solid rgb(70, 70, 70) 1px;
    border-radius: 15px;
}

.project-desc{
    float: right;
    height: 100%;
    width: 400px;
    margin-left: 100px;
    padding-right: 60px;
}

.project-desc h1{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 35px;
    color: white;
}

.project-desc p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(189, 189, 189);
    margin-top: 20px;
}

.project-desc h2{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

.project-btns{
    position: absolute;
    bottom: 10px;
}

.btn1{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #191A1D;
    border: solid white 2px;
    background-color: white;
    border-radius: 40px;
    padding: 5px 20px;
    transition: .2s ease;
}

.btn1:hover{
    color: white;
    background-color: #191A1D;
    text-decoration: none;
}

.btn2{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: solid white 2px;
    border-radius: 40px;
    padding: 5px 20px;
    transition: .2s ease;
    margin-left: 60px;
}

.btn2:hover{
    color: #191A1D;
    background-color: white;
    text-decoration: none;
}


/* --------- Gallery Section --------- */
.gallery-row{
    margin: auto;
    max-width: 60%;
    margin-top: 100px;
}

.gallery-col{

}

.gallery-btns{

}

.filter-btn{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    border: solid white 2px;
    background-color: transparent;
    border-radius: 40px;
    padding: 5px 15px;
    transition: .2s ease;
    margin: 0px 15px;
    cursor: pointer;
    text-decoration: none;
}

.filter-btn:focus {
    outline:0;
}

.active{
    background-color: white;
    color: #191A1D;
}

.grid{
    max-width: 1030px;
    margin: auto;
}

.grid-item { 
    margin: 20px;
    width: 300px; 
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s ease-in-out;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191A1D;
    opacity: 0;
    transition: opacity .2s ease;
}


/* --------- Contact Section --------- */
.contact-row{
    padding-top: 180px;
}

.contact-col{

}

.contact-col h1{
    color: #191A1D;
    font-size: 40px;
    font-family: "Ubuntu";
    font-weight: 500;
}