
/* --------- Body --------- */
body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(32, 32, 32);
    max-width: 1920px;
    margin: 0 auto;
}

.container{
    max-width: 70%;
    border: solid blue;
}

/* --------- Sections --------- */
.section{
    
}

#home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    max-height: 1080px;
}

#transition{
    position: relative;
    width: 100%;
    height: 250px;
    max-height: 300px;
    background: #1A1A1A;
}

#about{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #1A1A1A;
    padding-bottom: 100px;
    max-height: 1080px;
}

#portfolio{
    position: relative;
    width: 100%;
    height: auto;
    background: #1A1A1A;
    padding-bottom: 100px;
}

#gallery{
    position: relative;
    width: 100%;
    height: 120vh;
    background: #1A1A1A;
    padding-bottom: 100px;
    max-height: 1250px;
}

#transition2{
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 300px;
    background: #1A1A1A;
    overflow: hidden;
}

#contact{
    position: relative;
    width: 100%;
    height: auto;
    background: white;
}


/* --------- Navigation Bar --------- */
#navbar{
    z-index: 100;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}

#navbar a{
    color: #191A1D;
    padding: 0px 20px;
    font-size: 25px;
    font-family: "Ubuntu";
    font-weight: 400;
    transition: color .2s ease;
    letter-spacing: 3px;
}

#navbar a:hover{
    color: #FF7878;
    text-decoration: none;
}

#sidebar{
    transform: translateY(-50%);
    top: 45%;
    z-index: 100;
    position: fixed;
    width: 150px;
    height: auto;
    text-align: left;
    padding: 0px 20px;
    display: none;
}

.nav{
    float: left;
    margin-top: 30px;
    width: auto;
    height: 50px;
}

.nav a{
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 3px;
    transition: color .2s ease;
    color: white;
}

.nav a:hover{
    color: #FF7878;
    text-decoration: none;
}

.closed{
    width: 0%;
}

.open{
    width: 100%;
}

.underline{
    border-radius: 5px;
    height: 4px;
    background: #FF7878;
    transition: width .3s ease;
}

/* --------- Header Style --------- */
.header-col h1{
    color: white;
    font-size: 50px;
    font-family: "Ubuntu";
    font-weight: 500;
    letter-spacing: 10px;
}


/* --------- Home Section --------- */
#greeting{
    position: relative;
    transform: translateY(-50%);
    top: 40%;
}

#greeting h1{
    color: #191A1D;
    font-size: 70px;
    font-family: "Ubuntu";
    font-weight: 500;
    letter-spacing: 10px;
}

#greeting p{
    color: #191A1D;
    font-size: 25px;
    font-family: "Ubuntu";
    font-weight: 400;
    letter-spacing: 5px;
}

#homesun-frame{
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 0;
}

#homesun{
    
    width: 550px;
    height: 550px;
    background: #FF7878;
    border-radius: 100%;
}

#home-mountain1{
    position: absolute;
    bottom: 0;
    left: 0;
}

#home-mountain2{
    position: absolute;
    bottom: 0;
    right: 0;
}

#home-bird1{
    position: absolute;
    right: 10%;
    top: 60%;
    width: 20px;
}

#home-bird2{
    position: absolute;
    left: 10%;
    top: 55%;
    width: 30px;
}

#blacklogo, #whitelogo{
    position: fixed;
    z-index: 100;
    margin-left: 20px;
    top: 20px;
}

#blacklogo img, #whitelogo img{
    width: 50px;
}

#whitelogo{
    display: none;
}

#arrow{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 58%;
}

#arrow img{
    width: 50px;
    transition: transform .2s ease;
    cursor: pointer;
}

#arrow img:hover{
    transform: translateY(10px);
}

/* --------- Transition 1 --------- */
#transition1-1{
    position: absolute;
    left: 0;
}

#transition1-2{
    position: absolute;
    right: 0;
}

/* --------- About Section --------- */
.about-row{

}

#about p{
    position: absolute;
    top: 45%;
    right: 10%;
    text-align: center;
    color: white;
    font-family: "Ubuntu";
    font-weight: 400px;
    letter-spacing: 3px;
    font-size: 22px;
    max-width: 680px;
    line-height: 2;
}

#picture-frame{
    position: absolute;
    background: #252525;
    height: 430px;
    width: 45%;
    max-width: 880px;
    top: 250px;
    overflow: visible;
}

#picture{
    position: absolute;
    left: 40%;
    top: 70px;
}

#branch{
    position: absolute;
    right: 0;
    top: 150px;
    max-width: 500px;
}

#about-iconbox{
    position: absolute;
    top: 75%;
    right: 10%;
    width: 680px;
}

.iconbox{
    float: left;
    margin: 0px 11.3%;
}

.about-icon{
    margin-bottom: 15px;
    max-width: 50px;
}

#about-iconbox h1{
    color: white;
    font-size: 16px;
    font-family: "Ubuntu";
    letter-spacing: 0px;
    font-weight: 400;
}

/* --------- Portfolio Section --------- */
.project-row{
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
}

#dragon{
    position: absolute;
    left: 5%;
    opacity: 0.1;
}

#portfolio-container{
    width: 1300px;
    margin: auto;
}

.timeline{
    position: relative;
    float: left;
    top: 0px;
    left: 200px;
    width: 2px;
    height: 2250px;
    background-color: rgb(78, 78, 78);
}

.timeline h1{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 30px;
    color: white;
    float:left;
}

.timeline img{
    transform: translateY(20%);
    float:right;
}

.date{
    position: absolute;
    width: 120px;
    right: -12px;
}

.d1{
    top: 125px;
}

.d2{
    top: 470px;
}

.d3{
    top: 820px;
}

.d4{
    top: 1180px;
}

.d5{
    top: 1530px;
}

.d6{
    top: 1880px;
}

.d7{
    top: 2230px;
}

.project-img{
    float: right;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.425);
}

.project-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: opacity .2s ease;
}

.project-img i{
    z-index: 10;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 41.5%;
    top: 44%;
    font-size: 40px;
    color: white;
    transition: .2s ease;
    opacity: 0;
}

.project-img i:hover{
    color: #FF7878;
}

.project-desc{
    float: right;
    height: 100%;
    width: 400px;
    margin-left: 100px;
    padding-right: 60px;
}

.project-desc h1{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 35px;
    color: white;
}

.project-desc p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(189, 189, 189);
    margin-top: 20px;
}

.project-desc h2{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

.project-btns{
    position: absolute;
    bottom: 10px;
}

.btn1{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: solid white 2px;
    border-radius: 40px;
    padding: 5px 20px;
    transition: .2s ease;
}

.btn1:hover{
    color: #191A1D;
    background-color: white;
    text-decoration: none;
}

.btn2{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: solid white 2px;
    border-radius: 40px;
    padding: 5px 20px;
    transition: .2s ease;
    margin-left: 60px;
}

.btn2:hover{
    color: #191A1D;
    background-color: white;
    text-decoration: none;
}


/* --------- Gallery Section --------- */
.gallery-row{
    margin: auto;
    max-width: 60%;
    margin-top: 100px;
}

.gallery-col{

}

.gallery-btns{

}

.filter-btn{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    border: solid white 2px;
    background-color: transparent;
    border-radius: 40px;
    padding: 5px 15px;
    transition: .2s ease;
    margin: 0px 15px;
    cursor: pointer;
    text-decoration: none;
}

.filter-btn:focus {
    outline:0;
}

.active{
    background-color: white;
    color: #191A1D;
}

.grid{
    max-width: 1030px;
    margin: auto;
}

.grid-item { 
    margin: 20px;
    width: 300px; 
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s ease-in-out;
}

.overlay{
    position: absolute;
    padding: 20px 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.9);
    opacity: 0;
    transition: opacity .2s ease;
}

.overlay h1{
    position: relative;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.overlay p{
    position: relative;
    font-family: "Open Sans" ,sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(228, 228, 228);
}

.overlay i{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 47%;
    bottom: 10%;
    font-size: 25px;
    color: white;
    transition: color .2s ease;
}

.overlay i:hover{
    color: #FF7878;
}

#gallerysun{
    position: absolute;
    transform: translate(-50%, -45%);
    left: 50%;
    top: 50%;
    width: 550px;
    height: 550px;
    background: #FF7878;
    border-radius: 100%;
}

#clouds1{
    position: absolute;
    right: 25%;
    top: 60%;
}

#clouds2{
    position: absolute;
    left: 25%;
    top: 35%;
}

#koi1{
    position: absolute;
    left: 15%;
    top: 86%;
    max-width: 150px;
}

#koi2{
    position: absolute;
    right: 15%;
    top: 10%;
    max-width: 150px;
}



/* --------- Transition 2 --------- */
#transition2-1{
    position: absolute;
    left: 0;
}

#transition2-2{
    position: absolute;
    right: 0;
}

/* --------- Contact Section ---------- */
#contact a{
    margin: 0 30px;
}

#contact i{
    font-size: 25px;
    color: black;
    transition: color .2s ease;
}

#contact i:hover{
    color: #FF7878;
}

#contact p{
    color: black;
    font-family: "Ubuntu";
}

#contact h1{
    color: black;
    font-family: "Ubuntu";
    font-size: 20px;
    letter-spacing: 3px;
}