
/* --------- Body --------- */
body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #1A1A1A;
    max-width: 1920px;
    margin: 0 auto;
}

.container{
    max-width: 70%;
    border: solid blue;
}

/* --------- Scroll Bar --------- */
::-webkit-scrollbar {
    width: 10px;                                  
    height: 10px;
    background-color: #1A1A1A;
}
/* Add a thumb */                               
    ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 10px;
}

/* --------- Sections --------- */
.section{
    
}

#home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    max-height: 1080px;
}

#transition{
    position: relative;
    width: 100%;
    height: 250px;
    max-height: 300px;
    background: #1A1A1A;
}

#about{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #1A1A1A;
    padding-bottom: 100px;
    max-height: 1080px;
}

#portfolio{
    position: relative;
    width: 100%;
    height: auto;
    background: #1A1A1A;
    padding-bottom: 100px;
}

#gallery{
    position: relative;
    width: 100%;
    height: auto;
    background: #1A1A1A;
    padding-bottom: 100px;
    min-height: 1200px;
}

#transition2{
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 300px;
    background: #1A1A1A;
    overflow: hidden;
}

#contact{
    position: relative;
    width: 100%;
    height: auto;
    background: white;
}


/* --------- Navigation Bar --------- */
#navbar{
    z-index: 100;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}

#navbar a{
    color: #191A1D;
    padding: 0px 20px;
    font-size: 25px;
    font-family: "Ubuntu";
    font-weight: 400;
    transition: color .2s ease;
    letter-spacing: 3px;
}

#navbar a:hover{
    color: #FF7878;
    text-decoration: none;
}

#sidebar{
    transform: translateY(-50%);
    top: 45%;
    z-index: 100;
    position: fixed;
    width: 150px;
    height: auto;
    text-align: left;
    padding: 0px 20px;
    display: none;
}

.nav{
    float: left;
    margin-top: 30px;
    width: auto;
    height: 50px;
}

.nav a{
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 3px;
    transition: color .2s ease;
    color: white;
}

.nav a:hover{
    color: #FF7878;
    text-decoration: none;
}

.closed{
    width: 0%;
}

.open{
    width: 100%;
}

.underline{
    border-radius: 5px;
    height: 4px;
    background: #FF7878;
    transition: width .3s ease;
}

/* --------- Header Style --------- */
.header-col h1{
    color: white;
    font-size: 50px;
    font-family: "Ubuntu";
    font-weight: 500;
    letter-spacing: 10px;
}


/* --------- Home Section --------- */
#greeting{
    position: relative;
    transform: translateY(-50%);
    top: 40%;
}

#greeting h1{
    color: #191A1D;
    font-size: 70px;
    font-family: "Ubuntu";
    font-weight: 500;
    letter-spacing: 10px;
}

#greeting p{
    color: #191A1D;
    font-size: 25px;
    font-family: "Ubuntu";
    font-weight: 400;
    letter-spacing: 5px;
}

#homesun-frame{
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 0;
}

#homesun{
    
    width: 550px;
    height: 550px;
    background: #FF7878;
    border-radius: 100%;
}

#home-mountain1{
    position: absolute;
    bottom: 0;
    left: 0;
}

#home-mountain2{
    position: absolute;
    bottom: 0;
    right: 0;
}

#home-bird1{
    position: absolute;
    right: 10%;
    top: 60%;
    width: 20px;
}

#home-bird2{
    position: absolute;
    left: 10%;
    top: 55%;
    width: 30px;
}

#blacklogo, #whitelogo{
    position: fixed;
    z-index: 100;
    margin-left: 20px;
    top: 20px;
}

#blacklogo img, #whitelogo img{
    width: 50px;
}

#whitelogo{
    display: none;
}

#arrow{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 58%;
}

#arrow img{
    width: 50px;
    transition: transform .2s ease;
    cursor: pointer;
}

#arrow img:hover{
    transform: translateY(10px);
}

/* --------- Transition 1 --------- */
#transition1-1{
    position: absolute;
    left: 0;
}

#transition1-2{
    position: absolute;
    right: 0;
}

/* --------- About Section --------- */
.about-row{

}

#about p{
    position: absolute;
    top: 45%;
    right: 10%;
    text-align: center;
    color: white;
    font-family: "Ubuntu";
    font-weight: 400px;
    letter-spacing: 3px;
    font-size: 22px;
    max-width: 680px;
    line-height: 2;
}

#picture-frame{
    position: absolute;
    background: #252525;
    height: 50%;
    max-height: 430px;
    width: 43%;
    max-width: 880px;
    top: 250px;
    overflow: visible;
}

#picture{
    position: absolute;
    right: 60%;
    top: 300px;
    width: 400px;
}

#branch{
    position: absolute;
    right: 0;
    top: 150px;
    max-width: 500px;
}

#about-iconbox{
    position: absolute;
    top: 75%;
    right: 10%;
    width: 680px;
}

.iconbox{
    float: left;
    margin: 0px 11.3%;
}

.about-icon{
    margin-bottom: 15px;
    max-width: 50px;
}

#about-iconbox h1{
    color: white;
    font-size: 16px;
    font-family: "Ubuntu";
    letter-spacing: 0px;
    font-weight: 400;
}

/* --------- Portfolio Section --------- */
.project-row{
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
}

#dragon{
    position: absolute;
    left: 5%;
    opacity: 0.1;
}

#portfolio-container{
    width: 1300px;
    margin: auto;
}

.timeline{
    position: relative;
    float: left;
    top: 0px;
    left: 200px;
    width: 2px;
    height: 2950px;
    background-color: rgb(78, 78, 78);
}

.timeline h1{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 30px;
    color: white;
    float:left;
}

.timeline img{
    transform: translateY(20%);
    float:right;
}

.date{
    position: relative;
    width: 120px;
    left: -106px;
    height: 352px;
    padding-top: 120px;
}
.project-img{
    float: right;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.425);
}

.project-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: opacity .2s ease;
}

.project-img i{
    z-index: 10;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 46%;
    top: 44%;
    font-size: 40px;
    color: white;
    transition: .2s ease;
    opacity: 0;
}

.project-img i:hover{
    color: #FF7878;
}

.project-desc{
    float: right;
    height: 100%;
    width: 400px;
    margin-left: 100px;
    padding-right: 60px;
}

.project-desc h1{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 35px;
    color: white;
}

.project-desc p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(189, 189, 189);
    margin-top: 20px;
}

.project-desc h2{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

.project-btns{
    position: absolute;
    bottom: 10px;
}

.btn1{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: solid white 2px;
    border-radius: 40px;
    padding: 5px 20px;
    transition: .2s ease;
}

.btn1:hover{
    color: #191A1D;
    background-color: white;
    text-decoration: none;
}

.btn2{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: solid white 2px;
    border-radius: 40px;
    padding: 5px 20px;
    transition: .2s ease;
    margin-left: 60px;
}

.btn2:hover{
    color: #191A1D;
    background-color: white;
    text-decoration: none;
}


/* --------- Gallery Section --------- */
.gallery-row{
    margin: auto;
    max-width: 60%;
    margin-top: 100px;
}

#gallery-button{
    width: 150px;
    margin: 0 auto;
    margin-top: 40px;
}

#gallery-show-more{
    cursor: pointer;
}

.filter-btn{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    border: solid white 2px;
    background-color: transparent;
    border-radius: 40px;
    padding: 5px 15px;
    transition: .2s ease;
    margin: 0px 15px;
    cursor: pointer;
    text-decoration: none;
}

.filter-btn:focus {
    outline:0;
}

.active{
    background-color: white;
    color: #191A1D;
}

.gallery-contract{
    max-height: 725px;
}

.grid{
    max-width: 1030px;
    margin: auto;
    overflow: hidden;
}

.grid-item { 
    margin: 20px;
    width: 300px; 
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s ease-in-out;
}

.overlay{
    position: absolute;
    padding: 20px 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.9);
    opacity: 0;
    transition: opacity .2s ease;
}

.overlay h1{
    position: relative;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.overlay p{
    position: relative;
    font-family: "Open Sans" ,sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(228, 228, 228);
}

.overlay i{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 47%;
    bottom: 10%;
    font-size: 25px;
    color: white;
    transition: color .2s ease;
}

.overlay i:hover{
    color: #FF7878;
}

#gallerysun{
    position: absolute;
    transform: translate(-50%, -45%);
    left: 50%;
    top: 50%;
    width: 550px;
    height: 550px;
    background: #FF7878;
    border-radius: 100%;
}

#clouds1{
    position: absolute;
    right: 25%;
    top: 60%;
}

#clouds2{
    position: absolute;
    left: 25%;
    top: 35%;
}

#koi1{
    position: absolute;
    left: 15%;
    top: 86%;
    max-width: 150px;
}

#koi2{
    position: absolute;
    right: 15%;
    top: 10%;
    max-width: 150px;
}



/* --------- Transition 2 --------- */
#transition2-1{
    position: absolute;
    left: 0;
}

#transition2-2{
    position: absolute;
    right: 0;
}

/* --------- Contact Section ---------- */
#contact a{
    margin: 0 30px;
}

#contact i{
    font-size: 25px;
    color: black;
    transition: color .2s ease;
}

#contact i:hover{
    color: #FF7878;
}

#contact p{
    color: black;
    font-family: "Ubuntu";
}

#contact h1{
    color: black;
    font-family: "Ubuntu";
    font-size: 20px;
    letter-spacing: 3px;
}

/* --------- Media Queries ---------- */
@media screen and (max-width: 1600px) {  /* Extra Large */
    /* --- About --- */
    #about{
    }
    #about p{
        right: 7%;
        font-size: 20px;
        width: 600px;
    }
    #about-iconbox{
        right: 7%;
        width: 600px;
    }
    .iconbox{
        margin: 0px 10%;
    }
    #picture-frame{
        height: 350px;
    }
    #picture{
        width: 300px;
    }
    #branch{
        top: 12%;
    }
}

@media screen and (max-width: 1200px) {  /* Large */
    #about{
    }
}

@media screen and (max-width: 1000px) {  /* Medium */
    #about{
    }
}

@media screen and (max-width: 800px) {  /* Small */
    /* Nav bar */
    #navbar{
        display: none;
    }

    #sidebar{
        display: none;
    }

    /* Home */
    #greeting{
        top: 35%; 
    }
    
    #greeting h1{
        font-size: 40px;
        letter-spacing: 4px;
    }
    #greeting p{
        margin: 0 auto;
        width: 60%;
        font-size: 20px;
        letter-spacing: 4px;
    }

    #arrow{
        top: 63%;
    }
    #arrow img{
        width: 40px;
    }

    #home-mountain1{
        left: -600px;
        bottom: -2px;
    }

    #home-mountain2{
        right: -600px;
        bottom: -2px;
    }

    #home-bird1{
        top: 50%;
        right: 15%;
    }

    #home-bird2{
        top: 50%;
        left: 15%;
    }

    /* Transition */
    #transition1-1{
        left: -600px;
    }

    #transition1-2{
        right: -600px;
    }

    /* About */
    .header-col h1{
        font-size: 30px;
    }
    
    #branch{
        max-width: 230px;
        top: 12%;
    }

    #picture{
        width: 200px;
        top: 27%;
        right: 30%;
    }

    #picture-frame{
        top: 23%;
        height: 270px;
        width: 50%;
    }

    #about p{
        margin: 0 auto;
        position: relative;
        width: 90%;
        font-size: 18px;
        letter-spacing: 2px;
        right: 0;
        top: 55%;
    }

    #about-iconbox{
        position: relative;
        width: 100%;
        height: 140px;
        right: 0;
        padding: 0 2%;
        padding-top: 30px;
        top: 57%;
    }

    .iconbox{
        margin: 0 8%;
    }

    .about-icon{
        max-width: 35px;
    }

    /* Portfolio */

    #dragon{
        left: -60%;
        top: 10%;
    }

    .timeline{
        left: 7%;
    }

    .date{
        width: 81px;
        left: -70px;
    }

    .timeline h1{
        font-size: 20px;
    }

    .timeline img{
        width: 20px;
        float: right;
        transform: translateY(10%);
    }

    .project-row{
        height: 250px;
    }

    .project-img{
        display: none;
    }

    .project-desc{
        float: left;
        width: 30%;
    }

    .project-desc h1{
        font-size: 30px;
    }

    /* Gallery */
    #gallerysun{
        width: 300px;
        height: 300px;
    }

    #clouds1, #clouds2{
        width: 250px;
    }

    #clouds1{
        right: 10%;
        top: 55%;
    }

    #clouds2{
        left: 10%;
        top: 40%;
    }

    #koi1, #koi2{
        max-width: 100px;
    }

    #koi1{
        left: 5%;
        top: 80%;
    }

    #koi2{
        right: 5%;
        top: 20%;
    }

    .gallery-row{
        max-width: 100%;
        padding: 0;
    }

    .filter-btn{
        margin: 0 5px;
        margin-bottom: 10px;
    }

    .grid{
    }

    .grid-item{
        margin: 20px 17%;
    }

    /* Transition 2 */
    #transition2-1{
        left: -600px;
        bottom: -2px;
    }

    #transition2-2{
        right: -600px;
        bottom: -2px;
    }
}