/*  ---------- BODY ----------- */
body {
    background-image: url(../images/mountains.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}




/*  ---------- FRAME ----------- */
.frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.400);
    top: 0;
    left: 0;
}




/*  ---------- NAVIGATION BAR ----------- */
.navbar {
    position: absolute;
    width: auto;
    height: auto;
    background: rgba(255, 0, 0, 0);
    top: 30px;
    right: 200px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float:left;
}

.navbar a {
    color: white;  
    text-align: center;
    margin: 16px;
    text-decoration: none;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    padding-bottom: 7px;
}

#navhome, #navabout, #naveducation, #navcoding, #navanimation, #navcontact, #linkedin, #facebook, #twitter, #instagram, .logo {
    opacity: 0;
}

.underlined {
    position: absolute;
    bottom: 13px;
    left: 18px;
    background: white;
    height: 2px;
    width: 44px;
    opacity: 0;
}




/*  ---------- LOGO ----------- */

.logo {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("https://i.ibb.co/g6DQVZT/llwhite.png");
    background-size: cover;
    bottom:30px;
    left: 30px;
    text-align: center;
}




/*  ---------- LEFT BOX ----------- */

.left-box{
    position: absolute;
    width: 80px;
    height: 850px;
    background: rgba(0, 128, 0, 0);
    top: 0;
    left:0;
    border-right: rgb(180, 180, 180) solid 1px;
}




/*  ---------- RIGHT BOX ----------- */

.right-box{
    position: absolute;
    width: 80px;
    height: 850px;
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    right:0;
    border-left: rgb(180, 180, 180) solid 1px;
}

.right-box #linkedin {
    position: absolute;
    bottom: 215px;
    right: 20px;
    background-image: url("https://i.ibb.co/qMmJWN2/linkedin-logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.right-box #facebook {
    position: absolute;
    bottom: 160px;
    right: 20px;
    background-image: url("https://i.ibb.co/XkSz6xp/facebook-logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.right-box #twitter {
    position: absolute;
    bottom: 105px;
    right: 20px;
    background-image: url("https://i.ibb.co/Hdt6YV3/twitter-logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.right-box #instagram {
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-image: url("https://i.ibb.co/hFprqV7/instagram-logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}




/*  ---------- INNER FRAME ----------- */

.innerframe{
    position: absolute;
    height: 750px;
    width: 1600px;
    background: rgba(255, 255, 255, 0);
    top: 120px;
    left: 150px;
}




/*  ---------- HOME ----------- */

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home h1{
    position: relative;
    top: 30%;
    font-size: 70px;
    color: white;
    font-weight: 100;
    font-family: 'Righteous', cursive;
    opacity: 0;
    
}

.line-1{
    position: relative;
    top: 25%;  
    left: 40%;
    width: 24em;
    border-right: 2px solid transparent;
    font-size: 30px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.home #button {
    position: absolute;
    top: 60%;
    left: 47%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 20px;
    border: solid white 2px;
    padding: 10px;
    opacity: 0;
}

.home #button:hover{
    cursor: pointer;
    background: white;
    color: rgb(75, 75, 75);
    transition: .3s;
}




/* --------- HOME TRANSITIONS --------- */
.nameappear{
    animation: nameappear 1s normal;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes nameappear{
    from {top:0; opacity: 0;}
    to {top:30%; opacity: 1;}
}

.typewriter{
  animation: typewriter 2s steps(24) 1s 1 normal both,
             blinkTextCursor 2.3s steps(1) normal;
    animation-delay: 2.7s;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 10.5em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgb(255, 255, 255);}
  to{border-right-color: white;}
}

.buttonappear{
    animation: buttonappear 1s ease-in-out;
    animation-delay: 5.2s;
    animation-fill-mode: forwards;
}

@keyframes buttonappear{
    from {opacity: 0; visibility: hidden;}
    to {opacity: 1; visibility: visible;}
}




/*  ---------- ABOUT ----------- */

.about{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0);
}

#aboutimg{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: rgb(199, 199, 199) solid 2px;
    top: 20%;
    left: 41%;
    background: url("https://i.ibb.co/4K3gZpB/headshot.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 100px rgb(59, 59, 59) inset;
}

#abouth1{
    position: absolute;
    font-size: 40px;
    top: 55%;
    left: 30%;
    color: white;
    font-weight: 100;
    font-family: 'Righteous', cursive;
    opacity: 0;

}

#aboutp{
    position: absolute;
    font-size: 20px;
    width: 700px;
    line-height: 1.5;
    text-align: center;
    top: 60%;
    left: 27%;
    color: white;
    font-weight: 100;
    font-family: Ubuntu;
    opacity: 1;
    line-height: 2;
}




/*  ---------- EDUCATION ----------- */
.education{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255, 0, 0, 0);
}

#educationh1{
    position: absolute;
    font-size: 60px;
    left: 0;
    top: 5%;
    color: white;
    font-weight: 100;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

#istbox, #fsubox, #udemybox {
    position: absolute;
    height: 400px;
    width: 450px;
    top: 35%;
    background: rgb(255, 255, 255);
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    overflow: hidden;
    box-shadow: 0px 20px 30px rgb(0, 0, 0);
    opacity: 0;
}

#istdate, #fsudate, #udemydate {
    position: absolute;
    color: rgb(240, 240, 240);
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    top:1%;
    right:1%;

}

#istimg, #fsuimg, #udemyimg{
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 150px inset rgba(15, 15, 15, 0.61);
}

#isth1, #fsuh1, #udemyh1 {
    color: white;
    position: absolute;
    width: auto;
    height: auto;
    top: 34%;
    left: 5%;
    font-family: Ubuntu;
    font-size: 30px;
}

#istp, #fsup, #udemyp {
    color: black;
    position: absolute;
    width: 90%;
    height: auto;
    top: 50%;
    left: 5%;
    font-family: Ubuntu;
    line-height: 1.5;
}

#istbutton, #fsubutton, #udemybutton{
    position: absolute;
    z-index: 2;
    background: rgb(202, 202, 202);
    color: rgb(63, 63, 63);
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top:8px;
    border-radius: 5%;
    bottom:3%;
    left: 5%;
    width: 80px;
    height: 30px;
    cursor: pointer;
    
}

#istbox{
    left: 0%;
    z-index: 2;
}

#istdate{
    z-index:2;
}

#istimg{
    background: url("https://i.ibb.co/M1JsqyX/ist.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#fsubox{
    left: 0%;
    z-index:1;
}

#fsudate{
    z-index:1;
}

#fsuimg{
    background: url("https://i.ibb.co/JnPz8BY/fsu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#udemybox{
    left: 0%;
}

#udemydate{
    z-index:1;
}

#udemyimg{
    background: url("https://i.ibb.co/Rc17Nqm/udemy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}





/*  ---------- CODING ----------- */
.coding{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255, 0, 0, 0);
}

#codingh1{
    position: absolute;
    font-size: 60px;
    left: 0;
    top: 5%;
    color: white;
    font-weight: 200;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

#codingp{
    position: absolute;
    font-size: 20px;
    width: 700px;
    line-height: 1.5;
    left: 0;
    top: 20%;
    color: white;
    font-weight: 100;
    font-family: Ubuntu;
    opacity: 0;
}

.cdots{
    position: absolute;
    bottom: -20%;
    left: 41%;
    width: 150px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    opacity: 0
}

#cdot1{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 28%;
    transform: scale(1.5);
    opacity: 1;
}

#cdot2{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 48%;
    opacity: 0.6;
}

#cdot3{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 68%;
    opacity: 0.6;
}


/*  ---------- CODING GALLERY ----------- */
.galleryframe {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    font-family: Ubuntu;
    
}

.previous{
    position: absolute;
    background: url(../images/previous.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    top: 53%;
    left: -20%;
    opacity: 0;
}

.next{
    position: absolute;
    background: url(../images/next.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    top: 53%;
    right: -20%;
    opacity: 0;
}

.previous:hover, .next:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .3s;
}

.galleryimage{
    position: absolute;
    border: solid black 1px;
    width: 51.8%;
    height: 80%;
}



/*  ---------- CODING GALLERY: Weather App ----------- */
#weatherapp {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#weatherappimg {
    background: url(../images/Weatherapp.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 2%;
    top: 140px;
    opacity: 0;
}

#weatherapph1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 2%;
    top: 40%;
    text-align: center;
    color: white;
    opacity: 0;
}

#weatherappp {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 2%;
    top: 53%;
    text-align: center;
    font-family: Ubuntu;
    line-height: 1.5;
    color: white;
    opacity: 0;
}





/*  ---------- CODING GALLERY: Portfolio ----------- */
#portfolio {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#portfolioimg {
    background: url(../images/portfolio.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 2%;
    top: 85px;  
}

#portfolioh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 57%;
    top: 25%;
    text-align: center;
    color: white;
}

#portfoliop {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 57%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}





/*  ---------- CODING GALLERY: Online Resume ----------- */
#resume {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#resumeimg {
    background: url(../images/resume.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 2%;
    top: 85px;  
}

#resumeh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 2%;
    top: 25%;
    text-align: center;
    color: white;
}

#resumep {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 2%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}




/*  ---------- ANIMATION ----------- */
.animation{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255, 0, 0, 0);
}

#animationh1{
    position: absolute;
    font-size: 60px;
    left: 0;
    top: 5%;
    color: white;
    font-weight: 200;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

#animationp{
    position: absolute;
    font-size: 20px;
    width: 700px;
    line-height: 1.5;
    left: 0;
    top: 20%;
    color: white;
    font-weight: 100;
    opacity: 0;
    font-family: Ubuntu;
}

.adots{
    position: absolute;
    bottom: -20%;
    left: 41%;
    width: 150px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    opacity: 0
}

#adot1{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 18%;
    transform: scale(1.5);
    opacity: 1;
}

#adot2{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 38%;
    opacity: 0.6;
}

#adot3{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 58%;
    opacity: 0.6;
}

#adot4{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 78%;
    opacity: 0.6;
}



/*  ---------- ANIMATION GALLERY: Doughnuts ----------- */
#doughnuts {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#doughnutsimg {
    background: url(../images/Doughnuts.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 2%;
    top: 140px;
    opacity: 0;
}

#doughnutsh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 2%;
    top: 40%;
    text-align: center;
    color: white;
    opacity: 0;
}

#doughnutsp {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 2%;
    top: 53%;
    text-align: center;
    font-family: Ubuntu;
    line-height: 1.5;
    color: white;
    opacity: 0;
}




/*  ---------- ANIMATION GALLERY: Bowling ----------- */
#bowling {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#bowlingimg {
    background: url(../images/Bowling.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 2%;
    top: 85px;  
}

#bowlingh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 57%;
    top: 25%;
    text-align: center;
    color: white;
}

#bowlingp {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 57%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}




/*  ---------- ANIMATION GALLERY: Concrete ----------- */
#concrete {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#concreteimg {
    background: url(../images/Concrete.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 2%;
    top: 85px;  
}

#concreteh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 2%;
    top: 25%;
    text-align: center;
    color: white;
}

#concretep {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 2%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}

/*  ---------- ANIMATION GALLERY: Flag ----------- */
#flag {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#flagimg {
    background: url(../images/Flag.gif);
    background-size: contain;
    background-repeat: no-repeat;
    left: 2%;
    top: 85px;  
}

#flagh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 57%;
    top: 25%;
    text-align: center;
    color: white;
}

#flagp {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 57%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}





/*  ---------- CONTACT ----------- */
.contact{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255, 0, 0, 0);
}

.contact h1{
    position: absolute;
    font-size: 40px;
    left: 0;
    color: white;
    font-weight: 100;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

.contact p{
    position: absolute;
    font-size: 20px;
    width: 700px;
    line-height: 1.5;
    left: 0;
    color: white;
    font-weight: 100;
    opacity: 0;
}




/*  ---------- EFFECTS  ----------- */
.active{
    opacity: 1;
    transition: .5s ease-in-out;
    transition-delay: .5s;
}

.hidden {
    opacity: 0;
    transition: .5s ease-in-out;
}

.hideleft{
    opacity: 0;
    transition: .5s;
    animation: swipeleft 5s;
}

.hideright{
    opacity: 0;
    transition: .5s;
    animation: swiperight 5s;
}

.invisible{
    visibility: hidden;
}

.display{
    opacity: 1;
    transition: .5s ease-in-out;
    transition-delay: .5s;
}

@keyframes swipeleft{
    from {left: 4%}
    to {left: -100%}
}

@keyframes swiperight{
    from {left: 5%}
    to {left: 200%}
}





