/*  ---------- BODY ----------- */
body {
    background-image: url(../images/mountains.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}




/*  ---------- FRAME ----------- */
.frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.400);
    top: 0;
    left: 0;
}

#bird{
    position: absolute;
    top: 65%;
    left: 20%;
    background-image: url(../images/bird.gif);
    background-size: contain;
    width: 40px;
    height: 30px;
    opacity: 1;
    cursor: pointer;
}

#navbarmobile{
    visibility: hidden;
}


/*  ---------- NAVIGATION BAR ----------- */
.navbar {
    position: absolute;
    width: auto;
    height: auto;
    background: rgba(255, 0, 0, 0);
    top: 30px;
    right: 200px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float:left;
}

.navbar a {
    color: white;  
    text-align: center;
    margin: 16px;
    text-decoration: none;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    padding-bottom: 7px;
}

#navhome, #navabout, #naveducation, #navcoding, #navanimation, #navcontact, #linkedin, #facebook, #twitter, #instagram, .logo {
    opacity: 0;
}

.underlined {
    position: absolute;
    bottom: 13px;
    left: 18px;
    background: white;
    height: 2px;
    width: 44px;
    opacity: 0;
}




/*  ---------- LOGO ----------- */

.logo {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(../images/llwhite.png);
    background-size: cover;
    bottom:30px;
    left: 30px;
    text-align: center;
}




/*  ---------- LEFT BOX ----------- */

.left-box{
    position: absolute;
    width: 80px;
    height: 850px;
    background: rgba(0, 128, 0, 0);
    top: 0;
    left:0;
    border-right: rgb(180, 180, 180) solid 1px;
}




/*  ---------- RIGHT BOX ----------- */

.right-box{
    position: absolute;
    width: 80px;
    height: 850px;
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    right:0;
    border-left: rgb(180, 180, 180) solid 1px;
}

.right-box #linkedin {
    position: absolute;
    bottom: 215px;
    right: 20px;
    background-image: url("https://i.ibb.co/qMmJWN2/linkedin-logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.right-box #facebook {
    position: absolute;
    bottom: 160px;
    right: 20px;
    background-image: url("https://i.ibb.co/XkSz6xp/facebook-logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.right-box #twitter {
    position: absolute;
    bottom: 105px;
    right: 20px;
    background-image: url("https://i.ibb.co/Hdt6YV3/twitter-logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.right-box #instagram {
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-image: url("https://i.ibb.co/hFprqV7/instagram-logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}


/*  ---------- NEXT AND PREVIOUS SECTION ----------- */

#nextsection{
    position: absolute;
    color: white;
    font-family: Ubuntu;
    font-size: 15px;
    bottom: 2%;
    right: 6%;
    opacity: 0;
    visibility: hidden;
}

#prevsection{
    position: absolute;
    color: white;
    font-family: Ubuntu;
    font-size: 15px;
    bottom: 2%;
    left: 6%;
    opacity: 0;
    visibility: hidden;
}

/*  ---------- INNER FRAME ----------- */

.innerframe{
    position: absolute;
    height: 750px;
    width: 1600px;
    background: rgba(255, 255, 255, 0);
    top: 120px;
    left: 150px;
}




/*  ---------- HOME ----------- */

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home h1{
    position: relative;
    top: 30%;
    font-size: 70px;
    color: white;
    font-weight: 100;
    font-family: 'Righteous', cursive;
    opacity: 0;
    
}

.line-1{
    position: relative;
    top: 25%;  
    left: 40%;
    width: 24em;
    border-right: 2px solid transparent;
    font-size: 30px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.home #button {
    position: absolute;
    top: 60%;
    left: 47%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 20px;
    border: solid white 2px;
    padding: 10px;
    opacity: 0;
    border-radius: 0%;
}

.home #button:hover{
    cursor: pointer;
    background: white;
    color: rgb(29, 29, 29);
    transition: .3s;
}




/* --------- HOME TRANSITIONS --------- */
.nameappear{
    animation: nameappear 1s normal;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes nameappear{
    from {top:0; opacity: 0;}
    to {top:30%; opacity: 1;}
}

.typewriter{
  animation: typewriter 2s steps(24) 1s 1 normal both,
             blinkTextCursor 2.3s steps(1) normal;
    animation-delay: 2.7s;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 10.5em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgb(255, 255, 255);}
  to{border-right-color: white;}
}

.buttonappear{
    animation: buttonappear 1s ease-in-out;
    animation-delay: 5.2s;
    animation-fill-mode: forwards;
}

@keyframes buttonappear{
    from {opacity: 0; visibility: hidden;}
    to {opacity: 1; visibility: visible;}
}




/*  ---------- ABOUT ----------- */

.about{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0);
}

#aboutimg{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 20%;
    left: 22%;
    background-image: url(../images/headshot2.png);
    background-size: contain;
    background-position: center;
    border: rgb(59, 59, 59) solid 1px;
    opacity: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.514); 
}

#abouth1{
    position: absolute;
    transform:translate(-50%);
    font-size: 50px;
    left: 50%;
    top: 5%;
    color: white;
    font-weight: 200;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

#aboutp{
    position: absolute;
    font-size: 22px;
    width: 38%;
    padding-left: 10px;
    line-height: 1.5;
    text-align: center;
    top: 24%;
    left: 37%;
    color: white;
    font-weight: 100;
    font-family: Ubuntu;
    opacity: 0;
    line-height: 2;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid rgb(209, 209, 209) 1px;
    border-bottom: solid rgb(209, 209, 209)1px;
}

#plane1{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../images/plane.png);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 17%;
    left: 20%;
    opacity: 0;
}

#plane2{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../images/plane.png);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 15%;
    right: 43%;
    opacity: 0;
    transform: rotate(-8deg);
}

#hondurasp{
    position: absolute;
    font-size: 17px;
    width: 400px;
    line-height: 1.5;
    text-align: center;
    top: 59%;
    left: 6%;
    color: white;
    font-weight: 100;
    font-family: Ubuntu;
    opacity: 0;
    line-height: 2;
}

#hondurasimg{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 75%;
    left: 9.5%;
    background-image: url(../images/honduras.png);
    background-size: contain;
    opacity: 0;
}

#panamap{
    position: absolute;
    font-size: 17px;
    width: 400px;
    height: 350px;
    line-height: 1.5;
    text-align: center;
    top: 59%;
    left: 37%;
    color: white;
    font-weight: 100;
    font-family: Ubuntu;
    opacity: 0;
    line-height: 2;
}

#panamaimg{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 75%;
    left: 40.5%;
    background-image: url(../images/panama.png);
    background-size: contain;
    opacity:0;
}

#floridap{
    position: absolute;
    font-size: 17px;
    width: 400px;
    line-height: 1.5;
    text-align: center;
    top: 59%;
    right: 6%;
    color: white;
    font-weight: 100;
    font-family: Ubuntu;
    opacity: 0;
    line-height: 2;
}

#floridaimg{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 83%;
    right: 12%;
    background-image: url(../images/florida.png);
    background-size: contain;
    opacity: 0;
}



/*  ---------- EDUCATION ----------- */
.education{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255, 0, 0, 0);
}

#educationh1{
    position: absolute;
    font-size: 50px;
    transform:translate(-50%);
    left: 50%;
    top: 5%;
    color: white;
    font-weight: 100;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

#istbox, #fsubox, #udemybox {
    position: absolute;
    height: 400px;
    width: 450px;
    top: 30%;
    border: rgba(53, 53, 53, 0.603) solid 6px;
    background: rgba(53, 53, 53, 0.603);
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.637);
    opacity: 0;
}

#istdate, #fsudate, #udemydate {
    position: absolute;
    color: rgb(240, 240, 240);
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    top:2%;
    right:2%;

}

#istimg, #fsuimg, #udemyimg{
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 150px inset rgba(15, 15, 15, 0.61);
}

#isth1, #fsuh1, #udemyh1 {
    color: white;
    position: absolute;
    width: auto;
    height: auto;
    top: 34%;
    left: 3%;
    font-family: Ubuntu;
    font-size: 30px;
}

#istp, #fsup, #udemyp {
    color: white;
    position: absolute;
    width: 90%;
    height: auto;
    top: 50%;
    left: 3%;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.7;
}

#istbutton, #fsubutton, #udemybutton{   
    position: absolute;
    z-index: 2;
    background: rgb(202, 202, 202);
    color: rgb(63, 63, 63);
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top:8px;
    border-radius: 5%;
    bottom:3%;
    left: 5%;
    width: 80px;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    
}

#istbox{
    left: 0%;
    z-index: 2;
}

#istdate{
    z-index:2;
}

#istimg{
    background-image: url(../images/ist.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#fsubox{
    left: 0%;
    z-index:1;
}

#fsudate{
    z-index:1;
}

#fsuimg{
    background-image: url(../images/fsu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#udemybox{
    left: 0%;
}

#udemydate{
    z-index:1;
}

#udemyimg{
    background-image: url(../images/udemy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}





/*  ---------- CODING ----------- */
.coding{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255, 0, 0, 0);
}

#codingh1{
    position: absolute;
    transform:translate(-50%);
    font-size: 50px;
    left: 50%;
    top: 5%;
    color: white;
    font-weight: 200;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

#codingp{
    position: absolute;
    font-size: 20px;
    transform:translate(-50%);
    width: 700px;
    line-height: 1.5;
    left: 50%;
    text-align: center;
    top: 25%;
    color: white;
    font-weight: 100;
    font-family: Ubuntu;
    opacity: 0;
}

#codinglines{
    position: absolute;
    background: rgba(212, 212, 212, 0);
    width: 700px; 
    height: 100px;
    border-top: solid rgba(211, 211, 211) 1px;
    border-bottom: solid rgba(211, 211, 211) 1px;
    transform:translate(-50%);
    top: 25%;
    left: 50%;
    opacity: 0;
}

.cdots{
    position: absolute;
    bottom: -20%;
    left: 41%;
    width: 150px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    opacity: 0
}

#cdot1{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 28%;
    transform: scale(1.5);
    opacity: 1;
}

#cdot2{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 48%;
    opacity: 0.6;
}

#cdot3{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 68%;
    opacity: 0.6;
}


/*  ---------- CODING GALLERY ----------- */
.galleryframe {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    font-family: Ubuntu;
    
}

.previous{
    position: absolute;
    background-image: url(../images/previous.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    top: 53%;
    left: -20%;
    opacity: 0;
}

.next{
    position: absolute;
    background-image: url(../images/next.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    top: 53%;
    right: -20%;
    opacity: 0;
}

.previous:hover, .next:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .3s;
}

.galleryimage{
    position: absolute;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.541);
    width: 51.8%;
    height: 80%;
}

.gallerybtn{
    position: absolute;
    height: 5.5%;
    background: rgba(0, 0, 0, 0);
    border: white solid 2px;
    color: white;
    border-radius: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: 550;
    font-family: Ubuntu;
    padding-top: 3px;
    text-decoration: none;
}

#imgborder{
    position: absolute;
    width: 1px;
    height: 20%;
    background: rgb(163, 163, 163);
    top: 48%;
    left: 45%;
    opacity: 0;
}


/*  ---------- CODING GALLERY: Weather App ----------- */
#weatherapp {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#weatherappimg {
    background-image: url(../images/Weatherapp.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 2%;
    top: 140px;
    opacity: 0;
}

#weatherapph1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 2%;
    top: 35%;
    text-align: center;
    color: white;
    opacity: 0;
}

#weatherappp {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 2%;
    top: 47%;
    text-align: center;
    font-family: Ubuntu;
    line-height: 1.5;
    color: white;
    opacity: 0;
}

#weatherappbtn1{
    width: 4.5%;
    bottom: 25%;
    left: 15.5%;
    opacity: 0;
}

#weatherappbtn2{
    width: 4.5%;
    bottom: 25%;
    left: 23%;
    opacity: 0;
}


/*  ---------- CODING GALLERY: Portfolio ----------- */
#portfolio {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#portfolioimg {
    background-image: url(../images/portfolio.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 2%;
    top: 85px;  
}

#portfolioh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 57%;
    top: 25%;
    text-align: center;
    color: white;
}

#portfoliop {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 57%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}

#portfoliobtn{
    width: 4.5%;
    bottom: 35%;
    right: 20.6%;
}




/*  ---------- CODING GALLERY: Online Resume ----------- */
#resume {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#resumeimg {
    background-image: url(../images/resume.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 2%;
    top: 85px;  
}

#resumeh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 2%;
    top: 25%;
    text-align: center;
    color: white;
}

#resumep {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 2%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}

#resumebtn1{
    width: 4.5%;
    bottom: 30%;
    left: 15.5%;
}

#resumebtn2{
    width: 4.5%;
    bottom: 30%;
    left: 23%;
}


/*  ---------- ANIMATION ----------- */
.animation{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255, 0, 0, 0);
}

#animationh1{
    position: absolute;
    transform:translate(-50%);
    font-size: 50px;
    left: 50%;
    top: 5%;
    color: white;
    font-weight: 200;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

#animationp{
    position: absolute;
    font-size: 20px;
    transform:translate(-50%);
    width: 700px;
    line-height: 1.5;
    text-align: center;
    left: 50%;
    top: 25%;
    color: white;
    font-weight: 100;
    opacity: 0;
    font-family: Ubuntu;
}

#animationlines{
    position: absolute;
    background: rgba(212, 212, 212, 0);
    width: 700px; 
    height: 100px;
    border-top: solid rgba(211, 211, 211) 1px;
    border-bottom: solid rgba(211, 211, 211) 1px;
    transform:translate(-50%);
    top: 25%;
    left: 50%;
    opacity: 0;
}

.adots{
    position: absolute;
    bottom: -20%;
    left: 41%;
    width: 150px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    opacity: 0
}

#adot1{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 18%;
    transform: scale(1.5);
    opacity: 1;
}

#adot2{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 38%;
    opacity: 0.6;
}

#adot3{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 58%;
    opacity: 0.6;
}

#adot4{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top:40%;
    left: 78%;
    opacity: 0.6;
}



/*  ---------- ANIMATION GALLERY: Doughnuts ----------- */
#doughnuts {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#doughnutsimg {
    background-image: url(../images/Doughnuts.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 2%;
    top: 140px;
    opacity: 0;
}

#doughnutsh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 2%;
    top: 35%;
    text-align: center;
    color: white;
    opacity: 0;
}

#doughnutsp {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 2%;
    top: 47%;
    text-align: center;
    font-family: Ubuntu;
    line-height: 1.5;
    color: white;
    opacity: 0;
}

#doughnutsbtn{
    width: 5%;
    bottom: 25%;
    left: 18.5%;
    opacity: 0;
}



/*  ---------- ANIMATION GALLERY: Bowling ----------- */
#bowling {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#bowlingimg {
    background-image: url(../images/Bowling.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 2%;
    top: 85px;  
}

#bowlingh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 57%;
    top: 25%;
    text-align: center;
    color: white;
}

#bowlingp {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 57%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}

#bowlingbtn{
    width: 5%;
    bottom: 30%;
    right: 20.3%;
}



/*  ---------- ANIMATION GALLERY: Concrete ----------- */
#concrete {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#concreteimg {
    background-image: url(../images/Concrete.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 2%;
    top: 85px;  
}

#concreteh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 1.2%;
    top: 25%;
    text-align: center;
    color: white;
}

#concretep {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 2%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}

#concretebtn{
    width: 5%;
    bottom: 35%;
    left: 18.5%;
}

/*  ---------- ANIMATION GALLERY: Flag ----------- */
#flag {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    left: 4.5%;
    background: rgba(255, 0, 0, 0);
}

#flagimg {
    background-image: url(../images/Flag.gif);
    background-size: contain;
    background-repeat: no-repeat;
    left: 2%;
    top: 85px;  
}

#flagh1{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 57%;
    top: 25%;
    text-align: center;
    color: white;
}

#flagp {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 57%;
    top: 37%;
    text-align: center;
    color: white;
    font-family: Ubuntu;
    line-height: 1.5;
}

#flagbtn{
    width: 5%;
    bottom: 35%;
    right: 20.3%;
}



/*  ---------- CONTACT ----------- */
.contact{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255, 0, 0, 0);
}


#contacth1{
    position: absolute;
    font-size: 50px;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-weight: 100;
    font-family: 'Righteous', cursive;
    opacity: 0;
}

#contactleftbox{
    position: absolute;
    top: 37%;
    left: 2.5%;
    width: 40%;
    height: 40%;
}

#contactp{
    position: absolute;
    font-size: 30px;
    line-height: 1.5;
    top: 10%;
    color: white;
    text-align: center;
    font-family: Ubuntu;
    font-weight: 100;
    opacity: 0;
    
}

#emailicon, #phoneicon, #adressicon{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 30%;
    opacity: 0;
}

#emailicon{
top: 60%;
}

#phoneicon{
top: 75%;
}

#adressicon{
top: 90%;
}

#emailp, #phonep, #adressp {
    position: absolute;
    color: white;
    font-family: Ubuntu;
    font-size: 17px;
    left: 36%;
    opacity: 0;
}

#emailp{
    top: 54.5%;
}

#phonep{
    top: 69.5%;
}

#adressp{
    top: 85%;
}

#contactform{
    position: absolute;
    height: 70%;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 75%;
    border-left: solid rgb(224, 224, 224) .5px;
    opacity: 0;

}

#contactform::placeholder{
    color: rgb(190, 190, 190);
}

#contactform input{
    position: absolute;
    outline: none;
    border: solid rgb(190, 190, 190) 1px;
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
    font-family: Ubuntu;
    font-size: 16px;
}

#contactname input{
    top: 10%;
    left: 40%;
    width: 400px;
    height: 40px;
    opacity: 0;
}

#contactemail input{
    top: 20%;
    left: 40%;
    width: 400px;
    height: 40px;
    opacity: 0;
}

#contactsubject input{
    top: 30%;
    left: 40%;
    width: 400px;
    height: 40px;
    opacity: 0;
}

#contactmessage textarea{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 398px;
    height: 200px;
    outline: none;
    border: solid rgb(190, 190, 190) 1px;
    border-radius: 13px;
    resize: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
    font-family: Ubuntu;
    font-size: 16px;
    opacity: 0;
}

#contactsubmit input{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 85%;
    left: 60%;
    border: solid rgb(190, 190, 190) 1px;
    border-radius: 6px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.226);
    color: rgb(190, 190, 190);
    font-size: 20px;
    font-family: Ubuntu;
    opacity: 0;
}




/*  ---------- EFFECTS  ----------- */
.active{
    opacity: 1;
    transition: .5s ease-in-out;
    transition-delay: .5s;
}

.hidden {
    opacity: 0;
    transition: .5s ease-in-out;
}

.visible {
    opacity: 1;
    transition: 1s ease-in-out;
}

.hideleft{
    opacity: 0;
    transition: .5s;
    animation: swipeleft 5s;
}

.hideright{
    opacity: 0;
    transition: .5s;
    animation: swiperight 5s;
}

.invisible{
    visibility: hidden;
}

.display{
    opacity: 1;
    transition: .5s ease-in-out;
    transition-delay: .5s;
}

@keyframes swipeleft{
    from {left: 4%}
    to {left: -100%}
}

@keyframes swiperight{
    from {left: 5%}
    to {left: 200%}
}





